extend layout
block content
  h2.
    #{newContent}

  p.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis lacus enim, sit amet eleifend justo aliquam et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur gravida, nulla at ultrices vulputate, risus magna vestibulum justo, a sagittis arcu est eget mauris. Sed viverra ac ligula non rutrum. Nam sit amet pellentesque lorem. Morbi luctus et nulla quis vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla et dolor posuere nisl mollis pellentesque. Quisque tristique mauris vel eleifend vehicula. Donec condimentum lorem velit, et consectetur nisl facilisis ac. Morbi et nunc nibh. Curabitur orci lectus, varius in nulla sagittis, viverra ultrices mauris. Etiam et metus varius felis accumsan varius. Nunc blandit commodo hendrerit.
  p.
    Mauris cursus augue at laoreet fermentum. Suspendisse pretium pellentesque faucibus. Maecenas lacinia molestie mauris, vitae euismod lacus vulputate at. Nulla eu purus varius turpis sollicitudin mollis id at augue. Nam gravida elementum condimentum. Pellentesque pretium justo risus, non faucibus turpis consequat id. Nam a justo ut sapien viverra dapibus non ac tellus. Praesent luctus enim eu risus elementum, ut semper nunc accumsan. Vivamus et luctus purus. Nam luctus, arcu id condimentum tempus, nisi dolor feugiat leo, non consequat magna nisi quis eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean iaculis dui lectus, et tincidunt massa consectetur in.
