html
  head
    title #{title} - Your WebApp
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      h1 Your WebApp
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade in Vagrant Box